{
    "extends": "airbnb",
    "env": {
      "browser": true,
      "node": true,
      "es6": true,
      "jest": true
    },
    "globals": {
      "__filenamespace": false
    },
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ]
}